.wrapper {
  display: flex;
  flex-direction: column;
  /* Main Axis*/
  justify-content: space-around;
  /* Cross Axis*/
  align-items: stretch;
  height: 200vh;
}


.box {
  height: 200px;
  background: peru;
  color: white;
}