.father {
  display: flex;
  /* Main Axis*/
  justify-content: space-around;
  width: 100%;
}


.child {
  flex-basis: 300px;
  background: peru;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
  background: #000;
}